/* Agrandir font */
@font-face {
    font-family: AgrandirRegular;
    src: url('../../assets/fonts/Agrandir-Regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: AgrandirBold;
    src: url('../../assets/fonts/Agrandir-TextBold.otf');
    font-weight: 900;
}

/* AT Apoc font */
@font-face {
    font-family: ATApoc;
    src: url('../../assets/fonts/AT-Apoc-Revelations.ttf');
    font-weight: 400;
}

/* Geist Mono */
@font-face {
    font-family: GeistMono;
    src: url('../../assets/fonts/GeistMono-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: GeistMonoBold;
    src: url('../../assets/fonts/GeistMono-Bold.woff2');
    font-weight: 700;
}


body {
    h1 {
        font-size: 48px;
        margin: 0.5em 0em;
        text-wrap: balance;
    }

    p {
        line-height: 1.5;
    }
}

section {
    padding: 1em 10vw;
}

.agrandir {
    font-family: 'AgrandirRegular';
    letter-spacing: 1px;

    span {
        font-family: 'AgrandirBold';
    }
}

.at-apoc {
    font-family: 'ATApoc';
}

.geist-mono {
    font-family: 'GeistMono';

    span {
        font-family: 'GeistMonoBold';
    }
}